---
import Footer from "@/components/home/footer.astro";
import ReactNavbar from "@/components/navbar/Navbar";
import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout>
  <ReactNavbar client:visible />
  <section
    class="bg-[#f60] h-screen flex flex-col justify-center items-center text-white px-8 py-16 overflow-x-hidden"
  >
    <div class="max-w-3xl mx-auto text-center">
      <h1 class="text-4xl font-bold mb-6">Sobre nosotros</h1>
      <p class="text-lg mb-4">
        춰Bienvenidos a nuestra versi칩n alternativa del mundo del cine! 游꿟游
      </p>
      <p class="text-base mb-4">
        Esta es una <strong>p치gina web ficticia</strong>, desarrollada por <a
          href="https://portfolio-jonatan-barrios.vercel.app/"
          target="_blank"
          class="text-gray-200 underline hover:text-white">Jonatan Barrios</a
        > como un ejercicio creativo y personal para mejorar habilidades en desarrollo
        web y dise침o frontend.
      </p>
      <p class="text-base mb-4">
        El proyecto consiste en una <strong
          >reimaginaci칩n libre y sin fines comerciales</strong
        > del sitio original de <a
          href="https://pacificcinemas.com/index.php"
          target="_blank"
          class="text-gray-200 underline hover:text-white">Pacific Cinemas</a
        >, realizada 칰nicamente por diversi칩n, aprendizaje y pasi칩n por el cine.
      </p>
      <p class="text-base mb-4">
        Todos los contenidos, im치genes y promociones presentados aqu칤 son
        totalmente ficticios y no tienen ninguna relaci칩n con la empresa real.
        Esta p치gina no representa informaci칩n oficial ni est치 vinculada a ning칰n
        cine existente.
      </p>
      <p class="text-base">
        춰Gracias por visitar este proyecto experimental! Espero que lo disfrutes
        tanto como yo disfrute crearlo.
      </p>
    </div>
  </section>
  <Footer />
</Layout>
