---
import '@/styles/globals.css'
---

<html class="bg-black overflow-x-hidden">
  <head>
    <title class="bg-red-500">About Us</title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>
      Welcome to the About page! Here is some information about our project.
    </p>
  </body>
</html>
