---
import Slider from "../Slider/Slider";
---

<section
  class="w-screen z-10 min-h-screen p-6 md:p-10 relative flex flex-col justify-center items-center bg-gray-800 text-white"
>
  <h1 class="md:text-4xl text-2xl font-bold mb-6 gap-6">
    Disfruta de nuestras comidas
  </h1>
  <section class="h-full w-full relative flex justify-center items-center">
    <Slider client:load />
  </section>
</section>
