---
import ResponsiveVideo from "../ui/ResponsiveVideo";
---

<article
  class="w-screen z-10 h-screen relative flex flex-col justify-center items-center bg-gray-800 text-white"
>
  <div class="z-10 font-sans space-y-10 mb-4 text-center">
    <h1
      class="md:text-5xl text-2xl font-bold [text-shadow:_0_1px_0_rgb(0_0_0_/_40%)]"
    >
      VEN Y VÍVELO ESPECTACULAR
    </h1>
    <p class="md:text-2xl text-sm drop-shadow-2xl">
      disfruta de las películas y los nuevos estrenos
    </p>
  </div>
  <section
    class="z-10 font-sans grid grid-cols-1 md:grid-cols-2 m-4 p-4 gap-10 place-content-center w-[200px] md:w-[400px]"
  >
    <button
      class="bg-black bg-opacity-20 hover:bg-opacity-100 hover:scale-[1.1] transition-all ease-in border-white border text-white px-4 py-2 rounded-lg"
    >
      Comprar boletos
    </button>
    <button
      class="bg-black bg-opacity-20 hover:bg-opacity-100 hover:scale-[1.1] transition-all ease-in border-white border text-white px-4 py-2 rounded-lg"
    >
      Ver cartelera
    </button>
  </section>

  <ResponsiveVideo
    client:load
    desktopSrc="https://res.cloudinary.com/ds8cp2nxp/video/upload/v1744943540/FakeCIne/cinema_bus5xj.webm"
    mobileSrc="https://res.cloudinary.com/ds8cp2nxp/video/upload/v1744943604/FakeCIne/cinema-mobile_etl8lg.webm"
  />
</article>
