<section class="w-screen z-10 h-screen relative flex flex-col justify-center items-center bg-gray-800 text-white"> 
    <h1>Servicios</h1>
    <p>Disfruta de nuestros servicios</p>
    <button>Ver servicios</button>
    <button>Reservar</button>
</section>